-e file:external_dependencies/xmask
anytree
awkward-cpp
awkward
cffi
colorama
cpymad
cramjam
cupy-cuda11x
cython
fastparquet
fastrlock
fsspec
importlib-metadata
joblib
lark
llvmlite
minrpc
nafflib
numba
numpy
orjson
packaging
pandas
pathlib
psutil
pyarrow
pycparser
python-dateutil
pytz
pyyaml
ruamel-yaml-clib
ruamel-yaml
scipy
six
tqdm
tree-maker @ git+https://github.com/xsuite/tree_maker.git@5eced09a6b57dc70a3eadd99197bd9c7afeeaec7
typing-extensions
tzdata
xcoll
xdeps
xfields
xobjects
xpart
xsuite
xtrack
zipp
